*{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(202, 142, 223);
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    width: 100%;
    height: 100px;
}
.img-logo img{
    display: flex;
    width: 140px;
    
}
.search{
    background: #000;
    width: 30%;
}
.search > input{
    width: 100%;
   height: 30px;
}

.heart-cart-logo img{
    width: 40px;

    
}

.side-navbar{
    background-color: brown;
    width: 25%;
    height: 180px;
 line-height: 30px;
 font-size: 20px;   
}
.home-content{
     background: #787777;
     width: 100%;
     height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    align-items: center;

}

.All-categories {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 30px;
    
    top: 0%;
 padding: 0%;
 font-size: 25px;

}

.Home a{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
}

.Smart-phone a{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    
}
.Laptops a{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    
}

.Smart-watch a{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    
}

.home-img img{
    width: 100%;
    height: 180px;
      
}

.smart-Phone{
    background-color: rgb(249, 249, 197);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 190px;
    height: 250px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.box1{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card img{
    width: 100%;
    height: 150px;
}


.loptops{
    background-color: aquamarine;
    width: 100%;
    height: 400px;
}

.card-2 img{
    width: 100%;
    height: 150px;
}

.card-2{
    width: 190px;
    height: 250;
}
